<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="redirect all requests" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="index.html" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="16384" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.web>
		<httpRuntime maxUrlLength="16384" maxQueryStringLength="16384" />
	</system.web>
</configuration>
